.container {
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 60vh;
 margin-top: 150px;

  
}
.content {
    padding: 50px;
    height: 80%;
}
.header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 8px;
    font-weight: bold;
}
.input {
    margin-bottom: 40px;
    :hover {
        cursor: pointer;
    }
}

input[type="file"] {
  :hover {
    cursor: pointer;
  }
}

.button {
  margin-left: 10px;
border: none; 
background-color: transparent;
}
.form-label{
  width: 85.74px;
  text-align: center ;
  
}
.form {
  width: 100%;
  display: flex;
  margin-top: 10px;
align-items: center;
}
.form-input{
  padding: 2px 14px;
}