.container {
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 100vh;
 margin-top: 150px;

  
}
.content {
    padding: 50px;
    height: 80%;
}
.header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
}
.input {
    margin-bottom: 20px;
}
.custom-file-input {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f8f9fa;
    border: 2px dashed #007bff;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    color: #007bff;
    font-weight: bold;
  }
  
  .custom-file-input:hover {
    background-color: #e9ecef;
  }
  
  .custom-file-input:focus {
    outline: none;
    border-color: #0056b3;
  }
  